<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Querylab</title>
    <link rel="icon" type="image/png" href="static/images/luna64.png">

    <link rel="stylesheet" href="static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="static/vis.min.css" type="text/css">
    <link rel="stylesheet" href="static/fontawesome-all.min.css" type="text/css">
    <link rel="stylesheet" href="static/logtail.css" type="text/css">
    <link rel="stylesheet" href="static/app.css" type="text/css">
</head>
<body>
<div id="vue">
    <header class="navbar" style="border-bottom: 1px solid rgba(87,85,217,.2);">
        <section class="navbar-section">
            <span class="navbar-brand mr-2 ml-2"><img src="static/images/luna512.png"></span>
            <span class="navbar-brand" style="line-height: 32px">Querylab</span>
        </section>
        <section class="navbar-section"></section>
        <section class="navbar-section">
            <div class="btn-group btn-group">
                <button class="btn btn-link" v-on:click="runPipeline"><i class="fa fa-play text-success"></i></button>
                <button class="btn btn-link" v-on:click="stopPipeline"><i class="fa fa-stop text-error"></i></button>
            </div>
        </section>
    </header>
    <div id="loading"><img src="static/images/luna512.png" class="spinner"
                           style="display:block;margin-left: auto;margin-right: auto">
    </div>
    <div class="container columns col-gapless p-0">
        <div class="column col-2 bg-gray flex-container">
            <div class="btn-group btn-group">
                <button class="btn btn-link" v-on:click="updateFiles"><i class="fa fa-undo"></i></button>
                <button class="btn btn-link" v-on:click="newTab"><i class="icon icon-plus"></i></button>
            </div>
            <file v-bind:file="file" v-on:load="addTab"></file>
        </div>
        <div class="column col-5 flex-container">
            <ul class="tab">
                <tab v-for="e in editing" :key="e.name" v-bind:name="e.name" v-on:close="closeTab"
                     v-on:load="loadTab" v-bind:active="e.active"></tab>
            </ul>
            <editor editor-id="query" v-bind:content="input" v-bind:filename="openFile"
                    v-on:change-content="updateInput"></editor>
        </div>
        <div class="column col-5 flex-container overflow-scroll">
            <!-- mutually exclusive Accordions example (with same input names) -->
            <div class="accordion">
                <input type="checkbox" id="r1" name="c1" hidden title="" checked>
                <label class="accordion-header text-bold bg-secondary" for="r1">
                    Configure
                </label>
                <div class="accordion-body">
                    <div class="form-group">
                        <label class="form-label" for="input-queries">Query Path</label>
                        <input class="form-input" type="text" id="input-queries" v-model="queryPath"
                               placeholder="/data/queries">
                    </div>
                </div>
            </div>
            <div class="accordion">
                <input type="checkbox" id="r2" name="c2" hidden title="" checked>
                <label class="accordion-header text-bold bg-secondary" for="r2">
                    Monitor
                </label>
                <div class="accordion-body">
                    <div v-for="cpu in statistics.CPU">
                        <span>CPU: [[ formatFloat(cpu) ]]%</span>
                        <!--suppress RequiredAttributes -->
                        <meter class="meter" v-bind:value="cpu" min="0" max="100" low="30" high="80"></meter>
                    </div>
                    <span>Memory: [[ formatFloat(statistics.Memory) ]]%</span>
                    <!--suppress RequiredAttributes -->
                    <meter class="meter" v-bind:value="statistics.Memory" min="0" max="100" low="30" high="80"></meter>
                </div>
            </div>
            <div class="accordion">
                <input type="checkbox" id="r3" name="c3" hidden title="" checked>
                <label class="accordion-header text-bold bg-secondary" for="r3">
                    Console
                </label>
                <div class="accordion-body overflow-scroll">
                    <pre id="console">Loading...</pre>
                    <a href="#" id="console-pause" class="btn btn-primary"
                       style="position: absolute;bottom: 32px;right: 32px;">Pause</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-template" id="file">
    <div v-if="file.type==0">
        <div class="accordion overflow-scroll">
            <input type="checkbox" v-bind:id="id" name="accordion-checkbox" hidden v-bind:checked="id == 0"
                   title="file.name">
            <label class="accordion-header" v-bind:for="id"><i class="far fa-folder"></i> [[file.name]]</label>
            <div class="accordion-body">
                <ul class="menu menu-nav overflow-scroll">
                    <file v-for="f in file.files" :key="f.name" v-bind:file="f"></file>
                </ul>
            </div>
        </div>
    </div>
    <div v-else-if="file.type==1">
        <li class="menu-item">
            <a href="#" v-on:click="load"><i class="far fa-file-alt"></i> [[file.name]]</a>
        </li>
    </div>
</script>

<!-- App view. -->
<script type="text/javascript" src="static/vue.js"></script>
<script type="text/javascript" src="static/ace.js"></script>
<script type="text/javascript" src="static/worker-json.js"></script>
<script type="text/javascript" src="static/mode-json.js"></script>
<script type="text/javascript" src="static/ext-language_tools.js"></script>
<script type="text/javascript" src="static/lodash.min.js"></script>
<script type="text/javascript" src="static/shortcut.min.js"></script>
<script type="text/javascript" src="static/app.js"></script>

<!-- Console view. -->
<script src="static/jquery.min.js" type="text/javascript"></script>
<script src="static/logtail.js" type="text/javascript"></script>
</body>
</html>